<div>
  <li>

      <h1>
        {{title}}
      </h1>

      <p>
        {{content}}
      </p>

  </li>

  <i>
    {{icon}}
  </i>

  <span>
    {{date}}
  </span>

  <span>
    {{time}}
  </span>
</div>





