<divclass>
    {{#each timelines}}
<div class ="movediv">
        <div class="timeDay">
              <p class="date">
                  {{date}}
              </p>

              <p class="time">
                  {{times}}
              </p>
        </div>

        <div>
                <i class="fa {{icon}}"></i>
        </div>
</div>
        <div class="words">
              <div>
                <span class="arrow-left"></span>
                <h1>
                  {{title}}
                </h1>
              </div>

              <div>
                <p>
                    {{content}}
                </p>
              </div>
        </div>

     {{/each}}
</div>
